:root {
    --primary: rgb(87, 0, 0);
    --dark: #0b0b0b;
    --light: #ffffff;
    --gray: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

html {
    scroll-behavior: smooth;
}
/*/ --------- NAV -------- /*/
.navbar {
    position: inherit;
    top: 0;
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
    z-index: 100;
    box-shadow: 0 5px 20px rgba(139, 0, 0, 0.4), 0 0 40px rgba(139, 0, 0, 0.4);
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.navbar a:hover {
    color: #570000;
}

body {
    background: var(--light);
    color: var(--dark);
    line-height: 1.6;
}
section {
    scroll-margin-top: 80px;
}

/*/ NAME /*/
.name {
    font-family: 'Playfair Display', serif;
    color: #570000;
    font-size: 150px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 10px;
}
/*/ --------- DESCRIPTION --------- /*/
.description {
    font-family: 'Playfair Display', serif;
    color: #570000;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    margin-top: 10px;
}

/*/ ----- INTRO ------ /*/
.intro-section {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    margin-top: 300px;
}

.intro-card {
    max-width: 900px;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 14px;
    box-shadow: 0 10px 40px rgb(87, 0, 0);
    text-align: center;
}

.intro-card h2 {
    margin-bottom: 20px;
    color: rgb(119, 0, 0);
    font-size: 2rem;
}

.intro-card p {
    line-height: 1.7;
    color: #333333;
    font-size: 21px;
}



table {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    border-collapse: initial;
    background-color: #fff;
    box-shadow: 0 8px 20px rgb(87, 0, 0);
    font-family: "Playfair Display", serif;
}
 table td {
     color: #333333;
 }

th, td {
    border: 1px solid #ddd;
    padding: 18px;
    vertical-align: top;
    font-size: 20px;
}

th {
    background-color: #ffffff;
    color: #570000;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2.0px;
}

tr:nth-child(even) {

}

tr:hover {
    background-color: rgba(158, 135, 135, 0.32);
}

ul {
    padding-left: 18px;
    margin: 0;
}

.week {
    font-weight: bold;
    color: #570000;
    text-align: center;
    text-decoration-color: #570000;
}

.vakantie {
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-decoration-color: #570000;
}
.vakantie:hover {
    color: #570000;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px;
}
.ontwikkeling {
    width: 100%;
    padding: 80px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 70px;
    color: rgb(119, 0, 0);
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 50px;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(87, 0, 0);
    text-align: left;
}

.card h2 {
    margin-bottom: 15px;
    color: rgb(119, 0, 0);
}

.card p {
    line-height: 1.6;
    color: #333;
    font-size: 18px;
}









/* Responsive */
@media (max-width: 900px) {
    .tables-container {
        grid-template-columns: 1fr;
    }
    .cards-container {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}
